body {
  font-family: "joly-text", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

#mainNav {
  position: fixed;
  left: 20vw;
  top: 10vh;
  z-index: 1000;
  padding: 2vw;
}

#nav {
  list-style-type: none;
  padding: 0;
  background-color: white;
  margin-right: 60vw;
}

li {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: maroon;
}

.head {
  font-weight: 900;
  font-style: italic;
  font-size: 2em;
}

#imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.random-image {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

p {
  font-size: 0.8em;
}

.disclaimer {
  margin-right: 60vw;
  margin-top: 0;

  line-height: 1.2;
  background-color: white;
}

.response-content {
  display: none;
  padding: 2vw;
  overflow-y: auto;
  max-width: 30vw;
  height: 85vh;
  position: fixed;
  right: 2vw;
  top: 5vh;
  z-index: 9999;
}

.response-content p {
  background-color: white;
}

.response-content.active {
  display: block;
}

.response-content h2,
.response-content h3,
.response-content p {
  max-width: 100%;
  line-height: 1.5em;
}

.toggle-button {
  display: block;
  border: 1px solid black;
  padding: 0.5vw 1vw;
  color: black;
  background-color: white;
  font-size: 1.2em;
  font-family: "joly-text", sans-serif;
  font-weight: 200;
  font-style: italic;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: maroon;
}

.lecture-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#nav li a.selected {
  margin-left: 20px;
  color: maroon;
  transition: margin-left 0.3s ease-in-out;
}

#nav li a.selected::before {
  content: ">";
  margin-right: 5px;
}

#toggleContainer {
  position: fixed;
  left: -200px;
  top: 50vh;
  transform: translateY(-50%);
  z-index: 1000;
  transition: left 0.8s ease-in-out;
  display: none;
  background-color: white;
}

#toggleContainer.visible {
  left: 5vw;
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#imageContainer2 {
  display: none;
}
