body {
  font-family: "joly-text", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

#mainNav {
  position: fixed;
  left: 20vw;
  top: 10vh;
  z-index: 1000;
  padding: 2vw;
}

#nav {
  list-style-type: none;
  padding: 0;
  background-color: white;
  margin-right: 60vw;
}

li {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

a {
  color: black;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: maroon;
}

.head {
  font-weight: 900;
  font-style: italic;
  font-size: 2em;
}

#imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.random-image {
  position: absolute;
  width: 100%;
  height: auto;
}

p {
  font-size: 0.8em;
}

.disclaimer {
  margin-right: 60vw;
  margin-top: 0;

  line-height: 1.2;
  background-color: white;
}

#mainContent,
.response-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  z-index: 100;
}

#mainContent.active {
  transform: translateX(0);
}

#mainContent.inactive {
  transform: translateX(-100%);
}

.response-content {
  transform: translateX(100%);
  padding: 2vw;
  overflow-y: auto;
  max-width: 30vw;
  height: 85vh;
  margin: 5vh auto;
  left: 0;
  right: 0;
  transition: transform 0.5s ease-in-out;
}

.response-content p {
  background-color: white;
}

.response-content.active {
  transform: translateX(0);
}

.response-content.inactive {
  transform: translateX(100%);
}

.response-content h2,
.response-content h3,
.response-content p {
  max-width: 100%;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}

.toggle-button {
  border: none;
  color: white;
  font-size: 1.2em;

  font-family: "joly-text", sans-serif;
  font-weight: 200;
  font-style: italic;

  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
}

.toggle-button:hover {
  cursor: pointer;
  background-color: maroon;
}
